after-startup-command = [
    'exec-and-forget /Users/suvasanketrout/.config/aerospace/scripts/startup_script.sh',
]

on-focus-changed = [
    'exec-and-forget sketchybar --trigger aerospace_focus_change'
]
start-at-login = true
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true
accordion-padding = 30
default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'

[gaps]
inner.horizontal = 0
inner.vertical =   0
outer.left =       0
outer.bottom =     35
outer.top =        0
outer.right =      0

[mode.main.binding]
alt-slash = 'layout tiles horizontal vertical'
alt-comma = 'layout accordion horizontal vertical'

alt-cmd-h = 'focus left'
alt-cmd-j = 'focus down'
alt-cmd-k = 'focus up'
alt-cmd-l = 'focus right'

alt-cmd-shift-h = 'move left'
alt-cmd-shift-j = 'move down'
alt-cmd-shift-k = 'move up'
alt-cmd-shift-l = 'move right'

alt-shift-minus = 'resize smart -50'
alt-shift-equal = 'resize smart +50'

## tiling
alt-shift-enter = 'layout tiling accordion floating'

# window close
cmd-shift-w = 'close-all-windows-but-current --quit-if-last-window'

alt-1 = 'workspace 1'
alt-2 = 'workspace 2'
alt-3 = 'workspace 3'
alt-4 = 'workspace 4'
alt-5 = 'workspace 5'

alt-rightSquareBracket = 'workspace next'
alt-leftSquareBracket = 'workspace prev'

alt-shift-rightSquareBracket = ['move-node-to-workspace next', 'workspace next']
alt-shift-leftSquareBracket = [ 'move-node-to-workspace prev', 'workspace prev' ]

alt-shift-1 = ['move-node-to-workspace 1', 'workspace 1']
alt-shift-2 = ['move-node-to-workspace 2', 'workspace 2']
alt-shift-3 = ['move-node-to-workspace 3', 'workspace 3']
alt-shift-4 = ['move-node-to-workspace 4', 'workspace 4']
alt-shift-5 = ['move-node-to-workspace 5', 'workspace 5']

ctrl-cmd-f = 'macos-native-fullscreen'
alt-tab = 'focus-back-and-forth'
# cmd-m = []
# cmd-h = []

##### open apps #####
cmd-enter = ['exec-and-forget ~/.config/aerospace/open_ghostty.sh']
# ctrl-2 = ['exec-and-forget ~/.config/aerospace/open_browser.sh']
# ctrl-3 = ['exec-and-forget open -a Finder']
# cmd-h = ['exec-and-forget open -a Obsidian']
# cmd-m = ['exec-and-forget open -a Activity\ Monitor']

## APP SPACES
# 1
[[on-window-detected]]
if.app-id = 'net.kovidgoyal.kitty'
run = ['move-node-to-workspace 1']

[[on-window-detected]]
if.app-id="com.mitchellh.ghostty"
run = ['move-node-to-workspace 1']

[[on-window-detected]]
if.app-id="org.gnu.Emacs"
run = ['move-node-to-workspace 1']

# 2
[[on-window-detected]]
if.app-id = 'com.kagi.kagimacOS'
run = ['move-node-to-workspace 2']

[[on-window-detected]]
if.app-id = 'net.imput.helium'
run = ['move-node-to-workspace 2']

[[on-window-detected]]
if.app-id = 'org.chromium.Chromium'
run = ['move-node-to-workspace 2']

[[on-window-detected]]
if.app-id = 'app.zen-browser.zen'
if.window-title-regex-substring = '^(?!.*Extension:)(?!.*Picture-in-Picture).+$'
run = ['move-node-to-workspace 2']

[[on-window-detected]]
if.app-id = 'com.brave.Browser'
if.window-title-regex-substring = '(.*Brave)$'
run = ['move-node-to-workspace 2']

# 3
[[on-window-detected]]
if.app-id = 'com.apple.finder'
run = ['layout floating', 'move-node-to-workspace 3']

# 4
[[on-window-detected]]
if.app-id = 'com.apple.mail'
run = ['move-node-to-workspace 4']

[[on-window-detected]]
if.app-id = 'net.whatsapp.WhatsApp'

run = ['move-node-to-workspace 4']
[[on-window-detected]]
if.app-id = 'com.canva.affinity'
run = ['move-node-to-workspace 4']

[[on-window-detected]]
if.app-id = 'org.videolan.vlc'
run = ['layout floating','move-node-to-workspace 4']

[[on-window-detected]]
if.app-id = 'com.colliderli.iina'
run = ['layout floating','move-node-to-workspace 4']

[[on-window-detected]]
if.app-id = 'com.leshko.flap.mac'
run = ['layout floating', 'move-node-to-workspace 4']

[[on-window-detected]]
if.app-id = 'com.apple.ActivityMonitor'
run = ['layout floating', 'move-node-to-workspace 4']

# 5

## fallback
[[on-window-detected]]
check-further-callbacks = true
run = ['layout floating']
## APP SPACES
